html,
body {
    height: 100%;
}

.vh-33 {
    height: 33vh;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-custom {
    color: #FFFFFF; 
    background-color:#003F6D; 
    height: 50px;
    width: 200px;
    border-radius: 100px;
    font-size: 1.2em; 
    letter-spacing: 2px;
    border: none;
}